*
!.gitignore

!wp-content/themes/ifbbpro
wp-content/themes/ifbbpro/img
wp-content/themes/ifbbpro/zzz-live-stream-test.php
wp-content/themes/ifbbpro/zzz-rejestracja-testy.php
wp-content/themes/ifbbpro/zzzz-testy.php
wp-content/themes/ifbbpro/page-multimedia-package-content.php
wp-content/themes/ifbbpro/style.css


