/*------------------------- STRONA REJESTRACJI ------------------------------*/

.registration__page {
	color: black;
	padding: 5% 5%;

	img {
		max-width: 100%;
		margin: 0 auto;
	}
}

/*--------------------------- REJESTRACJA LISTOPAD ---------------------------*/

.rejestracja-listopad {
	img {
		width: 80%;
		margin: 5% 10%;
	}

	p {
		text-align: justify;
	}
}

.front-register .registration-info {
	text-align: center;

	h3 {
		color: white;
		font-size: 16px;
		width: 60%;
		margin: 0 auto;
		border-radius: 10px;
		padding: 20px 40px;
		background: #000000;
		font-weight: normal;
	}
}

@media (max-width: 500px) {
	.rejestracja-listopad {
		margin: 5% !important;
	}

	.front-register .registration-info {
		h3 {
			font-size: 14px;
			padding: 10px 20px;
			width: 75%;
		}
	}
}

/*-------------------- FORMULARZ REJESTRACJI NA ZAWODY ----------------*/

.rejestracja-formularz {
	.top-img {
		margin: 0 auto;

		img {
			width: 100%;
		}
	}

	.cognito form {
		margin-top: 0 !important;
	}
}

.registration__page {
	.top-img {
		margin: 0 auto;

		img {
			width: 100%;
		}
	}

	.cognito form {
		margin-top: 0 !important;
	}
}

/*-------------------- FORMULARZ REJESTRACJI NA BRĄZOWIENIE ----------------*/

.tanning-page {
	.register-tanning__top {
		width: 100%;
		margin: 0;
		margin-top: 10%;

		img {
			width: 22%;
			margin: 0 5%;
		}
	}

	.cognito form {
		margin-top: 0 !important;
	}
}

/*----------------------- POTWIERDZENIE ---------------------------*/

.confirmation-page {
	margin: 10% 5%;

	.confirmation-logos {
		width: 33%;
		display: inline-block;
		vertical-align: middle;
	}

	ul {
		padding-left: 20px;
	}
}
